<div class="col-10 offset-1"> 
  <br /><br />
  <div class="user-authentication-headers">
    <h1 class="text-center">Meet the Team</h1>
    <hr />
    <br />
      <p><center>Welcome.</center></p>
  </div>
</div>