<div class="col-10 offset-1"> 
  <br /><br />
  <div class="user-authentication-headers">
      <h2 class="text-center">Add A New Section</h2>
      <hr />
    <br />
      <%= simple_form_for @section, url: instructor_course_sections_path(@course) do |f| %>
        <%= f.input :title %>
        <br />
        <%= f.submit "Add a Section", class: 'btn btn-outline-primary' %>
        <br />
        <br />
      <% end %>
  </div>
</div>