<div class="col-10 offset-1"> 
  <br /><br />
  <div class="user-authentication-headers">
      <h2 class="text-center"><%= @course.title %></h2>
      <hr />
  <br />
    <h4 class="text-center"><%= @course.description %></h4>
    <h4 class="text-center"><%= @course.cost %></h4>
  </div>
</div>