<div class="col-10 offset-1"> 
  <br /><br />
  <div class="user-authentication-headers">
    <h1 class="text-center"><%= current_lesson.title %></h1>
    <hr />
    <br />
      <p>
        <%= current_lesson.subtitle %>
      </p>

      <%= link_to 'Video', current_lesson.video.to_s %>
  </div>
</div>