<div class="col-10 offset-1"> 
  <br /><br />
  <div class="user-authentication-headers">
    <h1 class="text-center">Learn Something Today</h1>
    <hr />

    <br />
    <% @courses.each do |course| %>
      <h4 class="text-center">
        <%= link_to course.title, course_path(course) %>
       </h4>
      <br />

      <div class="row">
        <div class="col-sm-8 col-12">
          <%= course.description %>
        </div>
        <div class="col-sm-4 col-12 text-center">
          <%= link_to 'More Details...', course_path(course), class: 'btn btn-outline-primary btn-large' %>
        </div>
      </div>

        <center>
          <%= image_tag course.image.to_s, class: 'img-fluid' %>
        </center>

      <br class="clr" />
    <% end %>
  </div>
</div>
  