html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#flex-content-container {
  flex: 1 0 auto;
}

#footer {
  position: relative;
  width: 100%;
  min-height: 50px;
  background-color: rgba(244, 242, 240, 0.5);
  font-family: "Helvetica Neue", Helvetica;
  padding: 10px 0px;
  margin-top: 30px;
  font-weight: 100;
}

#footer a{
  color: blue;
  font-weight: 100;
  text-align: right;
}

.footer-blurb {
  text-align: right;
}

.social-button {
  margin: 4px;
}

.social a:hover {
  text-decoration: none;
}